.transfer-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1.5px solid  #344958;
    margin: 0 auto;
    padding-bottom: 15px;
    margin:0;
}

li{
    margin:0;
}

ul{
    margin:0;
}