<header class="main-nav">
    <a exact class='main-nav-item' routerLink="/home" 
     routerLinkActive="selected">
      <img src='https://res.cloudinary.com/dtwqtpteb/image/upload/v1581582760/nrmochk7457ugi88krcx.png'
       alt="Home" width="24px" height="24px" />
    </a>
    <a class='main-nav-item' routerLink="/contact" 
    routerLinkActive="selected">
      <img src='https://res.cloudinary.com/dtwqtpteb/image/upload/v1581583869/u2qqddtquvbvnalgjxan.png' alt="contacts" width="40px" height="40px" />
    </a>  
    <a class='main-nav-item' routerLink="/statistics" 
    routerLinkActive="selected">
    <img src='https://res.cloudinary.com/dtwqtpteb/image/upload/v1581599784/v55eyowd0fbgp52m5z7x.png' alt="contacts" width="40px" height="40px" />
    </a> 
  </header>