.main-container{
    max-width: 1300px;
}

@media screen and (max-width: 375px) , 
screen and (max-height: 667px){
    .main-container {
        max-width: 340px;
  }
}

* {
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 25px;
}








