<!-- <div class="signup-container">
    <p class="signup-text">Mister Bitcoin</p>
    <img class="signup-img"
        src="https://res.cloudinary.com/due4sgv19/image/upload/v1581945841/q5qtcinyonpb7ggzlra9.png">
    <div class="form__group field">
        <div class="signup-form-and-button">
            <form class="signup-form" [formGroup]="userNameForm" (ngSubmit)="onSubmit(userNameForm.value)">
                <input type="text" class="form__field" placeholder="Name" formControlName="name" name="signup" required
                    minlength="2">
                <label for="name" class="form__label">Name</label>
            </form>
            <button class="btn" (click)="onSubmit(userNameForm.value)">Signup</button>
        </div>
        <div *ngIf="userNameForm.get('name').invalid && (userNameForm.get('name').dirty || userNameForm.get('name').touched)"
            class="alert alert-danger">
            <div *ngIf="userNameForm.get('name').errors.required">
                Name is required.
            </div>
            <div *ngIf="userNameForm.get('name').errors.minlength">
                Name must be at least 2 characters long.
            </div>
            <div *ngIf="userNameForm.get('name').errors.forbiddenName">
                Forbidden name entered!
            </div>
        </div>
    </div>
</div> -->

<div class="signup-container">
    <img src="https://res.cloudinary.com/dtwqtpteb/image/upload/v1582023148/xtijypjz4ve0fhhuqfmi.png"
     class="signup-app-logo" />
    <h2>Please enter your name</h2>
    <input #input type="text" />
    <button class="signup-btn" (click)="onSubmit(input.value)">Signup</button>
</div>